.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
  }
  
  .one {   

    text-align: center;
    background-color: aqua;
    border: 2px solid red;
    grid-column: 1 ;
    grid-row: 1;    
  }
  .two {
    text-align: center;
    background-color: aqua;
    border: 2px solid rgb(43, 15, 201);
    grid-column: 2 ;
    grid-row: 1 ;
  }
  .three {
    text-align: center;
    background-color: aqua;
    border: 2px solid rgb(175, 13, 89);
    grid-column: 1;
    grid-row: 2 ;
  }
  .four {
    text-align: center;
    background-color: aqua;
    border: 2px solid rgb(40, 202, 7);
    grid-column: 2;
    grid-row: 2;
  }
  .five {
    text-align: center;
    background-color: aqua;
    border: 2px solid red;
    grid-column: 1;
    grid-row: 3;
  }
  .six {
    text-align: center;
    background-color: aqua;
    border: 2px solid rgb(200, 221, 7);
    grid-column: 2;
    grid-row: 3;
  }